// colors
@import 'colors';

// fonts
@import 'fonts';

// reset CSS
@import 'reset';


// "base" should define rules at the HTML Element level
body {
    font-family: $font-stack;
    color: $primary-color;
}

a { /* define what <a> looks like */ }

p { /* define what <p> looks like */ }
