article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  font-family: Helvetica, sans-serif;
  color: #f1c40f; }

a {
  /* define what <a> looks like */ }

p {
  /* define what <p> looks like */ }

main {
  max-width: 960px; }

section {
  float: left;
  width: 62.5%; }

aside {
  float: right;
  width: 31.25%; }

.button--success {
  color: #229954; }
.button--danger {
  color: #e74c3c; }
.button--disabled {
  color: #e5e8e8; }

/*# sourceMappingURL=style.css.map */
