body {
    max-width: 850px;
    margin: 0 auto;
}
header {
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    background-size: 128px 128px; 
}
header h1 {
    margin-left: 128px;
    min-height: 128px;
}
header nav {
    display : block;
}
header nav ul {
    display: flex;    
}
header nav ul li {
    flex: 1;
    list-style-type: none;
}
header nav ul li a {
    text-decoration: none;
}

main {
    display : flex;
}
main section {
    flex: 2;
}
main aside {
    flex: 1 50px;
}
article h2 {
    background-color: gray;
}