
// import the components from partials 
// (do what I say, not what I do)

.button {
    // style for you buttons

    &--success {
        color: $success-color;
    }

    &--danger {
        color: $danger-color;
    }

    &--disabled {
        color: $disabled-color;
    }
}