$page-size: 960px;
$content-size: 600px;
$sidebar-size: 300px;

main {
    max-width: $page-size;
}

section {
    float: left;
    width: $content-size / $page-size * 100%;
}

aside {
    float: right;
    width: $sidebar-size / $page-size * 100%;
}